<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit notice</title>
    <th:block th:replace="~{staticFile :: style}"></th:block>
</head>
<body>
<header th:replace="~{header :: header}"></header>

<main>
    <article class="main-wrapper">

        <form class="my-4" method="post">
            <label for="post-title" class="form-label fsi-32 fw-medium">제목</label>
            <input type="text" name="title" id="post-title" class="form-control mb-2" th:value="${notice.title}">

            <hr>

            <label for="post-content" class="form-label fsi-32 fw-medium">본문</label>
            <textarea name="content" id="post-content" class="form-control mb-3" rows="12" th:value="${notice.content}"></textarea>

            <button class="btn btn-yellow" type="submit">수정</button>
        </form>
    </article>
</main>

<script th:replace="staticFile :: script"></script>

</body>
</html>